<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="container">
      <nav>
        <a href="" class="logo">
          <img src="../assets/images/logo-white.png" alt="眼鏡logo">
        </a>
        <ul>
          <li><a>系列鏡框</a></li>
          <li><a>門市據點</a></li>
          <li><a>部落格</a></li>
          <li><a>常見問題</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <ul>
          <li><a>首頁</a></li>
          <li><a>系列鏡框</a></li>
          <li><a>門市據點</a></li>
          <li><a>部落格</a></li>
          <li><a>常見問題</a></li>
        </ul>
        <span class="footer-3icon">
          <a href="" class="fb"><img src="../assets/images/ic-social-fb.png" alt=""></a>
          <a href="" class="ig"><img src="../assets/images/ic_social_ig.png" alt=""></a>
          <a href="" class="line"><img src="../assets/images/ic_social_line.png" alt=""></a>
        </span>
      </div>
      <div class="telephone">
        <img src="" alt="" class="telephone-icon">
        <h6>0800-000-00</h6>
      </div>
      <div class="email">
        <img src="" alt="" class="email-icon">
        <h6>glasses@business.co</h6>
      </div>
      <hr>
      <div class="footer-bottom">
        <span>Copyright &copy; 2022 Glasses. All rights reserved.</span>
        <div class="footer-bottom-right">
          <span>隱私權政策</span>
          <span>服務條款</span>
        </div>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>