footer {
    background: $main-color01;
    color: $white;
    padding: 48px 0;
.footer-top{
    @include phone{
        display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    }
}
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            @include phone {
                display: none;
            }
        }

        li {
            margin-right: $space-9;
        }

        .fb,
        .ig,
        .line {
            margin-left: $space-5;
            img {
                max-width: 48px;
                @include phone{
                    max-width: 35px;
                }
            }
        }
    }

    h6 {
        font-size: 30px;
        @include phone {
            font-size: 18px;
          }
    }

    .telephone,
    .email {
        display: flex;
        align-items: center;

        i {
            margin-right: 20px;
            @include phone{
                margin-right: 10px;
            }
        }
    }

    .telephone {
        margin-top: 30px;
        margin-bottom: 20px;
        @include phone {
            margin-top: 0;
          }
    }

    hr {
        margin: 32px 0;
    }

    // footer-bottom
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        @include phone {
          flex-direction: column;
        }
    }

    .footer-bottom-right {
        @include phone {
            flex-direction: column;
            display: flex;
            margin-top: 8px;
          }
        span {
            margin-left: $space-3;
            @include phone {
               margin-left: 0;
               margin-bottom: 8px;
               font-size: 16px;
              }
        }
    }

}