// body左右邊距 Start
// @mixin body-padding{
//     max-width: 1296px;
//         margin: 0 auto;
//         padding: $space;
// }
// body左右邊距 End

// 響應式設定 Start
$dask:992px;
$pad:767px;
$mobile:576px;
@mixin pc {
    @media(max-width:$dask){
        @content;
    }
}
@mixin pad {
    @media (max-width:$pad){
        @content;
    }
}

@mixin phone{
    @media (max-width:$mobile){
        @content;
    }
}
// 響應式設定 End

