//自訂通用樣式
*{
    box-sizing: border-box;
}
h2 {
    font-size: $text-5xl;
    color: $main-color02;
    font-weight: bold;
    text-align: center;
    margin-bottom: $space-12;
@include phone{
    font-size: 36px;
}
}

h3{
    font-size: $text-2xl;
    color: lighten($main-color02,20%);
    font-weight: 900;
    text-align: center;
    margin: $space-2;
    font-style: italic;
}
section{
    padding-top: 80px;
    padding-bottom: 80px;
}
img{
    max-width: 100%;
    height: auto;
}
p{
    text-align: justify;
    line-height: $space-6;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: $space-2;
}
input{
    margin-bottom: $space-4;
    padding:6px $space;
}
textarea{
    padding:6px $space;
    margin-bottom: $space;
}
a{
    text-decoration: none;
}